div.config {
    width: 20%;
    height: 100vh;
    background-color: cadetblue;
    float: left;
    margin-right: 10px;
}

div.card-board {
    float: right;
    width: 79%;
    height: 80vh;
    background-color: wheat;
}

.flip-card {
    float: left;
    background-color: transparent;
    width: 180px;
    height: 100px;
    margin: 8px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card-outer {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(0deg);
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */ 

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color:orchid;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: dodgerblue;
    transform: rotateY(180deg);
  }

div.top-players {
    text-align: center;
}

table.scores-table {
    width: 100%;
}
th,tr {
    text-align: center;
}

img {
    max-width:100%;
    max-height:100%;
}

.congrat-div {
  color: seashell;
    border: solid 6px salmon;
    height: 300px;
    width: 300px;
    text-align: center;
    margin-left: 30%;
    margin-top: 20%;
    background-color: cadetblue;
}

.click-counter {
  height: 10vh;
  color: seashell;
  float: right;
  width: 79%;
  text-align: center;
  background-color:salmon;
}

.score {
  height: 10vh;
  color: seashell;
  float: right;
  width: 79%;
  text-align: center;
  background-color:salmon;
}

.your-score {
  padding-top: 60px;
}