div.config {
    width: 20%;
    height: 100vh;
    background-color: cadetblue;
    float: left;
}

div.card-board {
    float: right;
    width: 80%;
    height: 100vh;
    background-color: wheat;
}

div.top-players {
    text-align: center;
}

table.scores-table {
    width: 100%;
}
th,tr {
    text-align: center;
}