html,body {
  margin: 0;
  width: 100%;
  height: 100%;
}

body {
  background-image: radial-gradient(#faa307,#d00000);
}

#config {
    color: seashell;
    width: 15%;
    height: 100vh;
    float: left;
    overflow: auto;
}

#click-counter {
  position: absolute;
  color: seashell;
  top: 0;
  right: 0;
  width: 15%;
  height: 50vh;
  text-align: center;
  overflow: auto;
}

#click-counter h1, #score-board h1 {
  padding-top: 60%;
}

#score-board {
  position: absolute;
  bottom: 0;
  right: 0;
  color: seashell;
  width: 15%;
  height: 50vh;
  text-align: center;
  overflow: auto;
}

#card-panel {
    position: absolute;
    left: 15%;
    width: 70%;
    height: 100vh;
    border-left: 8px dotted white;
    border-right: 8px dotted white;
    text-align: center;
}

#card-board {
  margin: auto;
  margin-top: 10%;
  max-height: 80%;
  max-width: 80%;
  position: relative;
  overflow: auto;
}

.flip-card {
    float:left;
    background-color: transparent;
    width: 180px;
    height: 160px;
    margin: 12px;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(180deg);
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card-outer {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transform: rotateY(0deg);
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
/* Do an horizontal flip when you move the mouse over the flip box container */
/* .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  } */ 

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 20px;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    border: 1px solid white;
    background-color:#fee440;
  }

  .flip-card-front:hover {
    box-shadow: white 0 0 20px;
  }

  .flip-card-back:hover {
    box-shadow: white 0 0 20px;
  }
  
  /* Style the back side */
  .flip-card-back {
    border: 1px solid white;
    background-color: #e5383b;
    transform: rotateY(180deg);
  }

#top-players {
    text-align: center;
    margin-top: 80px;
}

#scores-table {
    width: 100%;
}

th,tr {
    text-align: center;
}

img {
    max-width:100%;
    max-height:100%;
}

.congrat-div {
    color: seashell;
    border: 8px dotted white;
    padding-bottom: 30px;
    text-align: center;
    margin-top: 10%;
    background-image: radial-gradient();
}

#player-info, .top-players {
  min-width: 100%;
  margin-top: 60px;
  text-align: center;
}

#new-game-card-number {
  width: 100px;
}

#logo {
  text-align: center;
  margin-top: 60px;
  height: 100px;
}

#greeting-window {
  color: white;
  text-shadow: white 0 0 20px;
  border: 8px dotted white;
  border-radius: 25px;
  text-align: center;
}

#form label,input{
  border-radius: 20px;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  margin: 8px;
}

#new-game-form label,input {
  border-radius: 20px;
  font-size: 14px;
  text-align: center;
  font-weight: 700;
  margin: 8px;
}

#submit-button {
  padding: 8px;
  border-radius: 20px;
  background-color: white;
}

#submit-button:hover {
  box-shadow: white 0 0 30px;
}

#note {
  display: block;
  font-size: 20px;
}
